.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 15px;
}

.post {
  flex-grow: 1;
  border: 1px solid #999;
  border-radius: 15px;
  transition: all .3s ease-in-out;

}

.post:hover {
  /* background-color: black; */
  border: 1px solid var(--color-border-in-hover);
  cursor: pointer;
}

.imageContainer {
  position: relative;
  height: 200px;
}

.image {
  object-fit: cover;
  border-radius: 15px;
}

.content {
  padding: 10px;
}

.title {
  font-size: 20px;
  padding-bottom: 10px;
}

.text {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}