:root {
  --color-primary: #53c28b;
  --color-secondary: #bbb;
  --size-border-radius: 5px;
  --color-border-in-hover: white;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.light {
  background-color: white;
  color: #111;
  --color-border-in-hover: black;
}

.dark {
  background-color: #111;
  color: var(--color-secondary);
}

.theme {
  transition: .5s all ease-in-out;
}